<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="ISO-8859-1">
<title>Maples-Shop</title>
<link th:href="@{~/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
</head>
<body>
	<div th:fragment="nav">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
			<a class="navbar-brand" href="#">Maples Shopping</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/index}"><i class="fa fa-home mr-2"></i>Home</a></li>
				</ul>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/indexes}"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Users</a></li>
				</ul>
			</div>
			</div>
		</nav>
	</div>

</body>
</html>