<html >
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<table class= "table" border="1" align="center">
	<thead>
	<tr>
		<th scope="col">ID</th>
		<th scope="col">NAME</th>
		<th scope="col">NICKNAME</th>
		<th scope="col">EMAIL</th>

	</tr>
	</thead>
	<tbody>
	<tr th:each="user : ${user}">
		<td th:text="${user.id}"></td>
		<td th:text="${user.name}"></td>
		<td th:text="${user.nickName}"></td>
		<td th:text="${user.email}"></td>
	</tr>

	</tbody>


</table>
</body>
</html>